/* CSS VARIABLES */
:root {
	--black: #1b1b1b;
	--blue: #4e2aef;
	--white: #ffffff;
	--pink: #ff42a1;
}

/* GENERAL STYLES */
html {
	/* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
	font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #080808;
    color: #fff;
}

/*header*/
/* adds space to header and nav from border */
.container{
    padding: 10px 10%;
}

/* moved nav bar to right */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo,
.etsy,
.wave,
.ace,
.oranges,
.loveisblind
{
    width: 220px;
}


.sunrise{
    width: 320px;
}

/* makes horizentally aligned*/
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;

}

.title-link{
	text-decoration: none;
	color: #ff42a1;
}


body {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	/* set body font size to 1.6rem, which is 1.6x more than the font-size of 10px, making it 16px  */
	font-size: 1.6rem;
	line-height: 1.5;
	color: var(--white);
	background-color: var(--black);
}

.name-header{
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    padding: 10px 10%;
}
.name-bio{
    font-size: 25px;
    text-align: center;
    padding: 20px 20%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0.625rem;
	color: var(--pink);
	font-weight: 700;
	line-height: 1.1;
}

h1 {
	/* 4rem = 40px (4 * 10px) */
	font-size: 4rem;
}

h2 {
	font-size: 3.5rem;
}

h3 {
	font-size: 3rem;
}

h4 {
	font-size: 2.5rem;
}

h5 {
	font-size: 2rem;
}

h6 {
	font-size: 1.5rem;
}

p {
	margin-bottom: 1rem;
}

code {
	/* Monospace font stack is used for our code blocks to make it look more like code */
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* "::selection is a CSS selector that matches the portion of an element that is selected by a user. Only a few CSS properties can be applied to the ::selector: color, background, cursor, and outline." (https://www.w3schools.com/cssref/sel_selection.php) */
::selection {
	background-color: var(--blue);
	color: var(--black);
}

/* HEADER STYLES */
header {
	padding: 3rem;
	text-align: center;
	background-color: #803a57;
}

header h1 {
	padding: 1rem 1.2rem;
}

/* FOOTER STYLES */
footer {
	padding: 1.5rem;
	text-align: center;
}

/* MAIN SECTION, CARD STYLES */
/* create our main grid with flexbox */
main {
	width: 96%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* using a desktop-first approach, set base column width to be 1/3 of available width and we'll update it using media queries for smaller screen sizes */
.card-container {
	flex: 1 1 calc(100% / 3);
	padding: 1.5rem;
	margin-bottom: 1.5rem;
	/* when the screen resizes, make it so our columns don't jump in size */
	transition: flex-basis 500ms linear;
}


/* make each card a flexbox column */
.card {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	padding: 2rem;
	color: var(--pink);
	/* outline is like border, but on the outside of the box instead of inside */
	outline: 2px solid var(--white);
	outline-offset: -2px;
	transition: all 0.5s ease-in-out;
}


.card h2 {
	/* use position and negative margins to move title of card over the card's outline and create an overlap effect */
	position: relative;
	margin: -1rem 0 1.5rem 0;
	padding: 0.5rem 1rem;
	border: 2px solid var(--white);
	border-radius: none;
	background-color: var(--black);
	transition: all 0.5s ease-in-out;
}

.card h2:hover{
	box-shadow: inset 0px 0px 8px var(--pink), 0 0 15px var(--pink);
}

.card pre {
	/* set styles to make it so code wraps in <pre> instead of overflowing */
	white-space: pre-wrap;
	overflow: auto;
	tab-size: 4;
	
	color: var(--white);
	border-radius: 8px;
	padding: 1.2rem 1rem;
	/* each card's code block grows to occupy all the available space */
	display: flex;
	flex-grow: 1;
}

/* on <pre> click, select all contents so the code is highlighted */
.card pre:active {
	user-select: all;
}


.contact-info{
    font-size: 25px;
    text-align: center;
    padding: 20px 20%;
}

/* using a desktop-first approach, use `max-width` values going from wide -> narrow for a responsive design */
@media screen and (max-width: 992px) {
	/* on tablets, set cards to be 50% of the width */
	.card-container {
		flex-basis: 50%;
	}
}
@media screen and (max-width: 768px) {
	/* on mobile devices, set cards to be 100% of the width */
	.card-container {
		flex-basis: 100%;
		/* margin-bottom: 1.5rem; */
	}
}
